body{
    background-color: #eadbb2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    margin-left: 8%;
    margin-left: 8%;
}
  
.column {
    flex: 33%;
    max-width: 30%;
    padding: 0 4px;
}

.column img {
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
}
